flow.json
[
    {
        "id": "e9de432dbfd2a285",
        "type": "tab",
        "label": "alexa",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "43be9f181fabd3e8",
        "type": "tab",
        "label": "mqtt",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5734cb6af7d23702",
        "type": "subflow",
        "name": "mqtt light controller",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 260,
                "wires": [
                    {
                        "id": "b6954e720bce417d"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1460,
                "y": 260,
                "wires": [
                    {
                        "id": "ced926561b507e7b",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {
            "module": "mqtt light controller",
            "author": "programming@max-janorschke.de",
            "keywords": "mqtt,light",
            "license": "Apache-2.0"
        },
        "color": "#F3B567",
        "inputLabels": [
            "msg"
        ],
        "outputLabels": [
            "payload"
        ],
        "icon": "node-red-contrib-polymer/ui_slider.png"
    },
    {
        "id": "a28a244ad1ffea1d",
        "type": "subflow",
        "name": "kind of changing",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 140,
                "wires": [
                    {
                        "id": "c75a5a29610a6299"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 530,
                "y": 80,
                "wires": [
                    {
                        "id": "375a71cafb53cb7c",
                        "port": 0
                    }
                ]
            },
            {
                "x": 540,
                "y": 140,
                "wires": [
                    {
                        "id": "512734ff95368f47",
                        "port": 0
                    }
                ]
            },
            {
                "x": 540,
                "y": 200,
                "wires": [
                    {
                        "id": "66f61e8225c49269",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#3FADB5",
        "inputLabels": [
            "input"
        ],
        "outputLabels": [
            "status",
            "ct-color",
            "hs-color"
        ],
        "icon": "node-red/swap.svg"
    },
    {
        "id": "029142ac14ba233b",
        "type": "subflow",
        "name": "keyboard light controller",
        "info": "",
        "category": "mqtt-devices",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "44c08d1113fd255c"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "icon": "node-red/bridge.svg"
    },
    {
        "id": "bb9b6a98f8635a55",
        "type": "subflow",
        "name": "bed wall light controller",
        "info": "",
        "category": "mqtt-devices",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "4e8da7ce0ace9b8d"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "inputLabels": [
            "data"
        ],
        "icon": "node-red/bridge.svg"
    },
    {
        "id": "0d47d69ad720d4a1",
        "type": "subflow",
        "name": "bed side light controller",
        "info": "",
        "category": "mqtt-devices",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "83578f4e952f4b59"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "icon": "node-red/bridge.svg"
    },
    {
        "id": "3f60c6b39ab30602",
        "type": "subflow",
        "name": "keyboard light reciever",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 780,
                "y": 60,
                "wires": [
                    {
                        "id": "02a20a63632fa5b0",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#FFAAAA",
        "icon": "node-red/link-out.svg"
    },
    {
        "id": "140dcbb93b137d2d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3b0a4ce480b9a89a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9b5dc2b3a2f9fa7c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "node-red-ioBroker",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dbdce3880380f4e3",
        "type": "switch",
        "z": "5734cb6af7d23702",
        "name": "status switch",
        "property": "on",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 120,
        "wires": [
            [
                "483b8386ad117523"
            ],
            [
                "1164ac6e767479e7"
            ]
        ],
        "outputLabels": [
            "on",
            "off"
        ]
    },
    {
        "id": "483b8386ad117523",
        "type": "function",
        "z": "5734cb6af7d23702",
        "name": "active",
        "func": "msg.payload = \"active\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 80,
        "wires": [
            [
                "ced926561b507e7b"
            ]
        ]
    },
    {
        "id": "1164ac6e767479e7",
        "type": "function",
        "z": "5734cb6af7d23702",
        "name": "idle",
        "func": "msg.payload = \"idle\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 160,
        "wires": [
            [
                "ced926561b507e7b"
            ]
        ]
    },
    {
        "id": "5037aa98bfcce014",
        "type": "function",
        "z": "5734cb6af7d23702",
        "name": "kelvin to rgb",
        "func": "function clamp(x, min, max) {\n    if(x < min){ return Math.round(min); }\n    if(x > max){ return Math.round(max); }\n\n    return Math.round(x);\n}\n\nconst temp = msg.payload / 100;\n\nvar red, green, blue;\n\nif(temp <= 66){ \n    red = 255;\n    green = 99.4708025861 * Math.log(temp) - 161.1195681661;\n\n    if(temp <= 19){\n        blue = 0;\n    } else {\n        blue = 138.5177312231 * Math.log(temp - 10) - 305.0447927307;\n    }\n} else {\n    red = 329.698727446 * Math.pow(temp - 60, -0.1332047592);\n    green = 288.1221695283 * Math.pow(temp - 60, -0.0755148492 );\n    blue = 255;\n}\n\nmsg.payload = {\n    red: clamp(red, 0, 255),\n    green: clamp(green, 0, 255),\n    blue: clamp(blue, 0, 255)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 260,
        "wires": [
            [
                "42b038955dd5407b"
            ]
        ]
    },
    {
        "id": "e18f83b87837db46",
        "type": "function",
        "z": "5734cb6af7d23702",
        "name": "hs to rgb",
        "func": "const { rgb } = msg;\n\nmsg.payload = {\n    red: rgb[0],\n    green: rgb[1],\n    blue: rgb[2]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 340,
        "wires": [
            [
                "42b038955dd5407b"
            ]
        ]
    },
    {
        "id": "6afcee0475cf4ac3",
        "type": "function",
        "z": "5734cb6af7d23702",
        "name": "color temperature to kelvin",
        "func": "msg.payload = 1000000 / msg.ct;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 260,
        "wires": [
            [
                "5037aa98bfcce014"
            ]
        ]
    },
    {
        "id": "42b038955dd5407b",
        "type": "function",
        "z": "5734cb6af7d23702",
        "name": "rgb to color string",
        "func": "const { red, green, blue } = msg.payload;\n\nmsg.payload = `color: ${red};${green};${blue}`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 300,
        "wires": [
            [
                "ced926561b507e7b"
            ]
        ]
    },
    {
        "id": "b6954e720bce417d",
        "type": "subflow:a28a244ad1ffea1d",
        "z": "5734cb6af7d23702",
        "name": "",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "dbdce3880380f4e3"
            ],
            [
                "6afcee0475cf4ac3"
            ],
            [
                "e18f83b87837db46"
            ]
        ]
    },
    {
        "id": "ced926561b507e7b",
        "type": "function",
        "z": "5734cb6af7d23702",
        "name": "payload",
        "func": "return { payload: msg.payload };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "375a71cafb53cb7c",
        "type": "function",
        "z": "a28a244ad1ffea1d",
        "name": "map type",
        "func": "return {\n    ...msg,\n    type: \"status\"\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c75a5a29610a6299",
        "type": "switch",
        "z": "a28a244ad1ffea1d",
        "name": "type switch",
        "property": "meta.input",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "sat",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "ct",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 190,
        "y": 140,
        "wires": [
            [
                "66f61e8225c49269"
            ],
            [
                "512734ff95368f47"
            ],
            [
                "375a71cafb53cb7c"
            ]
        ]
    },
    {
        "id": "512734ff95368f47",
        "type": "function",
        "z": "a28a244ad1ffea1d",
        "name": "map type",
        "func": "return {\n    ...msg,\n    type: \"ct-color\"\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "66f61e8225c49269",
        "type": "function",
        "z": "a28a244ad1ffea1d",
        "name": "map type",
        "func": "return {\n    ...msg,\n    type: \"hs-color\"\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8184ca14a3dd2487",
        "type": "function",
        "z": "029142ac14ba233b",
        "name": "parse",
        "func": "const {mqttTopic: topic, payload } = msg;\nreturn { payload: payload, topic: `conf/${topic}` };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 40,
        "wires": [
            [
                "cee285c71550ebde"
            ]
        ]
    },
    {
        "id": "44c08d1113fd255c",
        "type": "ioBroker get",
        "z": "029142ac14ba233b",
        "name": "device-id",
        "topic": "0_userdata.0.mqtt-devices.Tastaturbeleuchtung.id",
        "attrname": "mqttTopic",
        "payloadType": "value",
        "errOnInvalidState": "true",
        "x": 180,
        "y": 40,
        "wires": [
            [
                "8184ca14a3dd2487"
            ]
        ]
    },
    {
        "id": "cee285c71550ebde",
        "type": "mqtt out",
        "z": "029142ac14ba233b",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9b5dc2b3a2f9fa7c",
        "x": 510,
        "y": 40,
        "wires": []
    },
    {
        "id": "30c97ad8a7d93989",
        "type": "function",
        "z": "bb9b6a98f8635a55",
        "name": "parse",
        "func": "const {mqttTopic: topic, payload } = msg;\nreturn { payload: payload, topic: `conf/${topic}` };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 40,
        "wires": [
            [
                "b19931a47cf41a0e"
            ]
        ]
    },
    {
        "id": "4e8da7ce0ace9b8d",
        "type": "ioBroker get",
        "z": "bb9b6a98f8635a55",
        "name": "device-id",
        "topic": "0_userdata.0.mqtt-devices.Wandbeleuchtung.id",
        "attrname": "mqttTopic",
        "payloadType": "value",
        "errOnInvalidState": "true",
        "x": 180,
        "y": 40,
        "wires": [
            [
                "30c97ad8a7d93989"
            ]
        ]
    },
    {
        "id": "b19931a47cf41a0e",
        "type": "mqtt out",
        "z": "bb9b6a98f8635a55",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9b5dc2b3a2f9fa7c",
        "x": 510,
        "y": 40,
        "wires": []
    },
    {
        "id": "730bf345abbeee4c",
        "type": "function",
        "z": "0d47d69ad720d4a1",
        "name": "parse",
        "func": "const {mqttTopic: topic, payload } = msg;\nreturn { payload: payload, topic: `conf/${topic}` };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 40,
        "wires": [
            [
                "c9943ea40a389d0a"
            ]
        ]
    },
    {
        "id": "83578f4e952f4b59",
        "type": "ioBroker get",
        "z": "0d47d69ad720d4a1",
        "name": "device-id",
        "topic": "0_userdata.0.mqtt-devices.seitliche_Bettbeleuchtung.id",
        "attrname": "mqttTopic",
        "payloadType": "value",
        "errOnInvalidState": "true",
        "x": 180,
        "y": 40,
        "wires": [
            [
                "730bf345abbeee4c"
            ]
        ]
    },
    {
        "id": "c9943ea40a389d0a",
        "type": "mqtt out",
        "z": "0d47d69ad720d4a1",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9b5dc2b3a2f9fa7c",
        "x": 510,
        "y": 40,
        "wires": []
    },
    {
        "id": "b58f303274fa1867",
        "type": "ioBroker get",
        "z": "3f60c6b39ab30602",
        "name": "device-id",
        "topic": "0_userdata.0.mqtt-devices.Tastaturbeleuchtung.id",
        "attrname": "mqttTopic",
        "payloadType": "value",
        "errOnInvalidState": "nothing",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "1536fc7b3a87ffbf",
                "5a6a7b339782ae3d"
            ]
        ]
    },
    {
        "id": "f3cf6ce1ba12712f",
        "type": "function",
        "z": "3f60c6b39ab30602",
        "name": "parse",
        "func": "return {\n    topic: msg.mqttTopic\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 60,
        "wires": [
            [
                "5a6a7b339782ae3d"
            ]
        ]
    },
    {
        "id": "1536fc7b3a87ffbf",
        "type": "mqtt in",
        "z": "3f60c6b39ab30602",
        "name": "device status",
        "topic": "",
        "qos": "2",
        "datatype": "utf8",
        "broker": "9b5dc2b3a2f9fa7c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 470,
        "y": 60,
        "wires": [
            [
                "02a20a63632fa5b0"
            ]
        ]
    },
    {
        "id": "5a6a7b339782ae3d",
        "type": "debug",
        "z": "3f60c6b39ab30602",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 200,
        "wires": []
    },
    {
        "id": "02a20a63632fa5b0",
        "type": "function",
        "z": "3f60c6b39ab30602",
        "name": "parse",
        "func": "const { payload } = msg;\nreturn { ...payload }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 60,
        "wires": [
            [
                "5a6a7b339782ae3d"
            ]
        ]
    },
    {
        "id": "0e87eb94338d50e5",
        "type": "amazon-echo-hub",
        "z": "e9de432dbfd2a285",
        "port": "80",
        "processinput": "2",
        "discovery": true,
        "x": 150,
        "y": 360,
        "wires": [
            [
                "19b6b90843ad1f70"
            ]
        ]
    },
    {
        "id": "499649036dafacbd",
        "type": "subflow:5734cb6af7d23702",
        "z": "e9de432dbfd2a285",
        "name": "",
        "x": 830,
        "y": 140,
        "wires": [
            [
                "b32fbf2207031e1d"
            ]
        ]
    },
    {
        "id": "19b6b90843ad1f70",
        "type": "function",
        "z": "e9de432dbfd2a285",
        "name": "map payload",
        "func": "return {\n    ...msg,\n    payload: null\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 140,
        "wires": [
            [
                "31716c21d3f492c1",
                "27eb4499b92b570d",
                "41bc62348c456fd0"
            ]
        ]
    },
    {
        "id": "234247e0e579b73e",
        "type": "subflow:5734cb6af7d23702",
        "z": "e9de432dbfd2a285",
        "name": "",
        "x": 850,
        "y": 80,
        "wires": [
            [
                "40a55736717d3afa"
            ]
        ]
    },
    {
        "id": "2535eb970df25d53",
        "type": "subflow:5734cb6af7d23702",
        "z": "e9de432dbfd2a285",
        "name": "",
        "x": 870,
        "y": 200,
        "wires": [
            [
                "d2d57eb5bc89a750"
            ]
        ]
    },
    {
        "id": "31716c21d3f492c1",
        "type": "amazon-echo-device",
        "z": "e9de432dbfd2a285",
        "name": "Tastaturbeleuchtung",
        "topic": "Arduino Tastaturbeleuchtung",
        "x": 600,
        "y": 80,
        "wires": [
            [
                "234247e0e579b73e"
            ]
        ],
        "icon": "node-red/light.svg"
    },
    {
        "id": "27eb4499b92b570d",
        "type": "amazon-echo-device",
        "z": "e9de432dbfd2a285",
        "name": "Wandbeleuchtung",
        "topic": "Arduino Wandbeleuchtung am Bett",
        "x": 590,
        "y": 140,
        "wires": [
            [
                "499649036dafacbd"
            ]
        ],
        "icon": "node-red/light.svg"
    },
    {
        "id": "41bc62348c456fd0",
        "type": "amazon-echo-device",
        "z": "e9de432dbfd2a285",
        "name": "seitliche Bettbeleuchtung",
        "topic": "Arduino seitliche Beleuchtung am Bett",
        "x": 610,
        "y": 200,
        "wires": [
            [
                "2535eb970df25d53"
            ]
        ],
        "icon": "node-red/light.svg"
    },
    {
        "id": "40a55736717d3afa",
        "type": "subflow:029142ac14ba233b",
        "z": "e9de432dbfd2a285",
        "name": "",
        "x": 1100,
        "y": 80,
        "wires": []
    },
    {
        "id": "b32fbf2207031e1d",
        "type": "subflow:bb9b6a98f8635a55",
        "z": "e9de432dbfd2a285",
        "name": "",
        "x": 1080,
        "y": 140,
        "wires": []
    },
    {
        "id": "d2d57eb5bc89a750",
        "type": "subflow:0d47d69ad720d4a1",
        "z": "e9de432dbfd2a285",
        "name": "",
        "x": 1120,
        "y": 200,
        "wires": []
    },
    {
        "id": "2352fa6f9ca60f63",
        "type": "subflow:3f60c6b39ab30602",
        "z": "43be9f181fabd3e8",
        "name": "",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "45fe7cf0879da5fc"
            ]
        ]
    },
    {
        "id": "45fe7cf0879da5fc",
        "type": "debug",
        "z": "43be9f181fabd3e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 120,
        "wires": []
    },
    {
        "id": "502f1f1770636fe1",
        "type": "mqtt in",
        "z": "43be9f181fabd3e8",
        "name": "device status",
        "topic": "status/deskLightingKeyboard",
        "qos": "0",
        "datatype": "json",
        "broker": "9b5dc2b3a2f9fa7c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 220,
        "wires": [
            [
                "c7f424ad731065ab"
            ]
        ]
    },
    {
        "id": "631130b7719c11ec",
        "type": "debug",
        "z": "43be9f181fabd3e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 220,
        "wires": []
    },
    {
        "id": "c7f424ad731065ab",
        "type": "function",
        "z": "43be9f181fabd3e8",
        "name": "parse",
        "func": "const { payload } = msg;\nreturn { ...payload }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 220,
        "wires": [
            [
                "631130b7719c11ec"
            ]
        ]
    }
]